{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}
<svg style="display: none;">
  <defs>
  <symbol id="icon-course" viewBox="0 0 12 13">
    <g clip-path="url(#clip0_course)">
      <circle
        cx="6"
        cy="6.5"
        r="5"
        stroke="#141B34"
        stroke-width="1.5"
        fill="none" />
      <path
        d="M7.72655 6.69739C7.65081 7.01077 7.29286 7.23221 6.57694 7.67508C5.88487 8.10322 5.53883 8.31728 5.25996 8.23124C5.14467 8.19566 5.03963 8.1281 4.95491 8.03502C4.75 7.80991 4.75 7.37327 4.75 6.5C4.75 5.62673 4.75 5.19009 4.95491 4.96497C5.03963 4.8719 5.14467 4.80434 5.25996 4.76876C5.53883 4.68272 5.88487 4.89678 6.57694 5.32492C7.29286 5.76779 7.65081 5.98923 7.72655 6.30261C7.75782 6.43196 7.75782 6.56804 7.72655 6.69739Z"
        stroke="#141B34"
        stroke-width="1.5"
        stroke-linejoin="round"
        fill="none" />
    </g>
    <defs>
      <clipPath id="clip0_course">
        <rect
          width="12"
          height="12"
          fill="white"
          transform="translate(0 0.5)" />
      </clipPath>
    </defs>
  </symbol>
  <symbol id="icon-level" viewBox="0 0 14 15">
    <path d="M2.09996 9.70752H1.02246C0.823597 9.70768 0.632922 9.78674 0.492304 9.92736C0.351686 10.068 0.272618 10.2587 0.272461 10.4575V13.75C0.272618 13.9489 0.351686 14.1396 0.492304 14.2802C0.632922 14.4208 0.823597 14.4999 1.02246 14.5H2.09996C2.29869 14.4994 2.48912 14.4202 2.62965 14.2797C2.77017 14.1392 2.84938 13.9488 2.84996 13.75V10.4575C2.84938 10.2588 2.77017 10.0684 2.62965 9.92783C2.48912 9.78731 2.29869 9.7081 2.09996 9.70752Z" fill="#0D0D0D" />
    <path d="M5.72496 6.72998H4.64746C4.44873 6.73056 4.2583 6.80976 4.11777 6.95029C3.97724 7.09082 3.89804 7.28125 3.89746 7.47998V13.75C3.89804 13.9487 3.97725 14.1391 4.11777 14.2797C4.2583 14.4202 4.44873 14.4994 4.64746 14.5H5.72496C5.92382 14.4998 6.1145 14.4208 6.25511 14.2801C6.39573 14.1395 6.4748 13.9488 6.47496 13.75V7.47998C6.4748 7.28112 6.39574 7.09044 6.25512 6.94982C6.1145 6.80921 5.92383 6.73014 5.72496 6.72998Z" fill="#0D0D0D" />
    <path d="M9.35289 3.47998H8.27539C8.17686 3.47985 8.07928 3.49916 7.98822 3.5368C7.89717 3.57445 7.81444 3.62969 7.74477 3.69936C7.6751 3.76903 7.61986 3.85176 7.58221 3.94281C7.54457 4.03387 7.52526 4.13145 7.52539 4.22998V13.75C7.52555 13.9488 7.60462 14.1395 7.74524 14.2801C7.88586 14.4208 8.07653 14.4998 8.27539 14.5H9.35289C9.55163 14.4994 9.74205 14.4202 9.88258 14.2797C10.0231 14.1391 10.1023 13.9487 10.1029 13.75V4.22998C10.1027 4.03112 10.0237 3.84044 9.88305 3.69982C9.74243 3.55921 9.55176 3.48014 9.35289 3.47998Z" fill="#0D0D0D" />
    <path d="M12.9779 0.5H11.9004C11.7017 0.500582 11.5112 0.579787 11.3707 0.720313C11.2302 0.860839 11.151 1.05127 11.1504 1.25V13.75C11.151 13.9487 11.2302 14.1392 11.3707 14.2797C11.5112 14.4202 11.7017 14.4994 11.9004 14.5H12.9779C13.1768 14.4998 13.3674 14.4208 13.508 14.2802C13.6487 14.1395 13.7277 13.9489 13.7279 13.75V1.25C13.7277 1.05114 13.6487 0.86046 13.508 0.719841C13.3674 0.579222 13.1768 0.500155 12.9779 0.5Z" fill="#0D0D0D" />
  </symbol>
  <symbol id="icon-time" viewBox="0 0 16 17">
    <circle
      cx="7.99967"
      cy="8.49992"
      r="6.66667"
      stroke="#141B34"
      stroke-width="1.5"
      fill="none" />
    <path
      d="M8 5.83325V8.49992L9.33333 9.83325"
      stroke="#141B34"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none" />
  </symbol>
  <symbol id="icon-date" viewBox="0 0 16 17">
    <path
      d="M12 1.83325V3.16659M4 1.83325V3.16659"
      stroke="#141B34"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none" />
    <path
      d="M7.99766 9.1665H8.00364M7.99766 11.8332H8.00364M10.6613 9.1665H10.6673M5.33398 9.1665H5.33997M5.33398 11.8332H5.33997"
      stroke="#141B34"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none" />
    <path
      d="M1.66699 8.66216C1.66699 5.75729 1.66699 4.30486 2.50174 3.40243C3.33648 2.5 4.67999 2.5 7.36699 2.5H8.63366C11.3207 2.5 12.6642 2.5 13.4989 3.40243C14.3337 4.30486 14.3337 5.75729 14.3337 8.66216V9.0045C14.3337 11.9094 14.3337 13.3618 13.4989 14.2642C12.6642 15.1667 11.3207 15.1667 8.63366 15.1667H7.36699C4.67999 15.1667 3.33648 15.1667 2.50174 14.2642C1.66699 13.3618 1.66699 11.9094 1.66699 9.0045V8.66216Z"
      stroke="#141B34"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none" />
  </symbol>
</defs></svg>

{%- if card_product and card_product != empty -%}
  <a href="{{ card_product.url }}" class="rh-course-card">
    <div class="rh-course-image">
      {%- if card_product.featured_image != blank -%}
        {{ card_product.featured_image | image_url: width: 456 | image_tag: 
          alt: card_product.title,
          class: 'rh-course-image-img',
          loading: lazy_load | default: 'lazy',
          width: 456,
          height: 240
        }}
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'rh-course-image-img' }}
      {%- endif -%}
    </div>
    <div class="rh-course-content">
      <div class="rh-course-header">
        <div class="rh-course-type">
          <svg width="12" height="13">
            <use href="#icon-course" />
          </svg>
          <div class="rh-label">Course</div>
        </div>
        <div class="rh-course-title">
          {{ card_product.title }}
        </div>
      </div>
      <div class="rh-course-author-info">
        <div class="rh-author">by {{ card_product.vendor }}</div>
        {%- if card_product.tags.size > 0 -%}
          <div class="rh-libraries">
            <div class="rh-label">Libraries:</div>
            <div class="rh-library-tag">{{ card_product.tags.first }}</div>
          </div>
        {%- endif -%}
      </div>
      <div class="rh-divider"></div>
      <div class="rh-course-meta">
        <div class="rh-meta-item">
          <svg width="14" height="15">
            <use href="#icon-level" />
          </svg>
          <div class="rh-label">{{ card_product.type }}</div>
        </div>
        {% for tag in card_product.tags %}
          {% if tag contains 'Duration:' %}
            <div class="rh-meta-item">
              <svg width="16" height="17">
                <use href="#icon-time" />
              </svg>
              <div class="rh-label">{{ tag | remove: 'Duration:' | strip }}</div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="rh-meta-item">
          <svg width="16" height="17">
            <use href="#icon-date" />
          </svg>
          <div class="rh-label">{{ card_product.published_at | date: "%d %b %Y" }}</div>
        </div>
      </div>
    </div>
  </a>
{%- else -%}
  <div class="rh-course-card">
    <div class="rh-course-image">
      {{ 'product-1' | placeholder_svg_tag: 'rh-course-image-img placeholder-svg' }}
    </div>
    <div class="rh-course-content">
      <div class="rh-course-header">
        <div class="rh-course-type">
          <svg width="12" height="13">
            <use href="#icon-course" />
          </svg>
          <div class="rh-label">Course</div>
        </div>
        <div class="rh-course-title">
          {{ 'onboarding.product_title' | t }}
        </div>
      </div>
      <div class="rh-course-author-info">
        <div class="rh-author">by Author Name</div>
      </div>
      <div class="rh-divider"></div>
      <div class="rh-course-meta">
        <div class="rh-meta-item">
          <svg width="14" height="15">
            <use href="#icon-level" />
          </svg>
          <div class="rh-label">Intermediate</div>
        </div>
        <div class="rh-meta-item">
          <svg width="16" height="17">
            <use href="#icon-time" />
          </svg>
          <div class="rh-label">2h 30m</div>
        </div>
        <div class="rh-meta-item">
          <svg width="16" height="17">
            <use href="#icon-date" />
          </svg>
          <div class="rh-label">{{ 'now' | date: "%d %b %Y" }}</div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
