{% style %}
.mission-section *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mission-section .mh-container {
  max-width: 1426px;
  margin: 0 auto;
}

.mission-section .mh-section-title {
  font-family: "Ghost Trial", sans-serif;
  color: rgba(13, 13, 13, 1);
  font-size: 60px;
}

.mission-section .mh-section-subtitle {
  color: rgba(34, 40, 117, 1);
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2%;
}

.mission-section .mh-section-description {
  font-family: "Karla", sans-serif;
  color: rgba(13, 13, 13, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.mission-section .mh-btn-primary {
  font-family: "Karla", sans-serif;
  display: inline-block;
  border: 1px solid rgba(34, 40, 117, 1);
  border-radius: 50px;
  text-decoration: none;
  color: rgba(34, 40, 117, 1);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.mission-section .mh-btn-primary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(34, 40, 117, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}

.mission-section .mh-btn-primary:hover::before {
  width: 300px;
  height: 300px;
}

.mission-section .mh-btn-primary:hover {
  background-color: rgba(34, 40, 117, 1);
  color: rgba(255, 255, 255, 1);
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(34, 40, 117, 0.3);
}

.mission-section .mh-btn-primary:active {
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(34, 40, 117, 0.2);
}


@media screen and (max-width: 1024px) {
  .mission-section .mh-section-title {
    font-size: 40px;
  }
}


@media screen and (max-width: 767px) {
  .mission-section .mh-btn-primary {
    font-size: 14px;
  }
  .mission-section .mh-section-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 510px) {
  .mission-section .mh-section-title {
    font-size: 26px;
  }
}
.mission-section {
  padding: 50px 0;
}

.mission-section .mh-info-container {
  max-width: 1676px;
}

.mission-section .mh-info-content {
  display: flex;
  align-items: center;
  gap: 90px;
}

.mission-section .mh-info-content .mh-info-image {
  max-width: 976px;
  height: auto;
}

.mission-section .mh-info-content .mh-info-image img {
  width: 100%;
  height: 100%;
}

.mission-section .mh-info-content .mh-info-text {
  max-width: 600px;
}

.mission-section .mh-info-content .mh-info-text .mh-info-subtitle {
  margin-bottom: 10px;
}

.mission-section .mh-info-content .mh-info-text .mh-info-title {
  margin-bottom: 24px;
}

.mission-section .mh-info-content .mh-info-text .mh-info-btn {
  padding: 16px 55px;
  margin-top: 24px;
}

@media screen and (max-width: 1700px) {
  .mission-section .mh-info-content .mh-info-image {
    max-width: 800px;
  }
}

@media screen and (max-width: 1510px) {
  .mission-section .mh-info-content .mh-info-text {
    max-width: 500px;
  }
}

@media screen and (max-width: 1500px) {
  .mission-section .mh-container {
    padding: 0 40px;
  }
  .mission-section .mh-info-content .mh-info-image {
    max-width: 750px;
  }
}

@media screen and (max-width: 1450px) {
  .mission-section .mh-info-content .mh-info-image {
    max-width: 700px;
  }
}

@media screen and (max-width: 1266px) {
  .mission-section .mh-info-content .mh-info-image {
    max-width: 620px;
  }
}

@media screen and (max-width: 1226px) {
  .mission-section .mh-info-content .mh-info-image {
    max-width: 600px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 14px 52px;
  }
}

@media screen and (max-width: 1226px) {
  .mission-section .mh-info-content {
    gap: 60px;
  }
  .mission-section .mh-info-content .mh-info-image {
    max-width: 580px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 12px 48px;
  }
}

@media screen and (max-width: 1164px) {
  .mission-section .mh-info-content {
    gap: 40px;
  }
  .mission-section .mh-info-content .mh-info-image {
    max-width: 540px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 12px 44px;
  }
}

@media screen and (max-width: 1094px) {
  .mission-section .mh-info-content .mh-info-image {
    max-width: 500px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 12px 36px;
  }
}

@media screen and (max-width: 1056px) {
  .mission-section .mh-info-content .mh-info-image {
    max-width: 480px;
  }
  .mission-section .mh-info-content .mh-info-text {
    padding-right: 20px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 12px 34px;
  }
}

@media screen and (max-width: 1000px) {
  .mission-section .mh-info-content .mh-info-text .mh-info-subtitle {
    margin-bottom: 8px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-title {
    margin-bottom: 16px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 10px 30px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 940px) {
  .mission-section .mh-info-content {
    gap: 32px;
  }
  .mission-section .mh-info-content .mh-info-text {
    max-width: 450px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 10px 26px;
  }
}

@media screen and (max-width: 852px) {
  .mission-section .mh-info-content {
    gap: 28px;
  }
  .mission-section .mh-info-content .mh-info-text {
    max-width: 420px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-subtitle {
    margin-bottom: 4px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-title {
    margin-bottom: 6px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 10px 24px;
  }
}

@media screen and (max-width: 814px) {
  .mission-section .mh-info-content {
    gap: 28px;
  }
  .mission-section .mh-info-content .mh-info-text {
    max-width: 400px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-subtitle {
    margin-bottom: 4px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-title {
    margin-bottom: 6px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    padding: 8px 22px;
  }
}

@media screen and (max-width: 790px) {
  .mission-section .mh-info-content {
    flex-direction: column;
  }
  .mission-section .mh-info-content .mh-info-text {
    max-width: 480px;
    padding: 0;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-subtitle {
    margin-bottom: 16px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-title {
    margin-bottom: 12px;
  }
  .mission-section .mh-info-content .mh-info-text .mh-info-btn {
    margin-top: 16px;
    padding: 14px 32px;
  }

}

@media screen and (max-width: 510px) {
  .mission-section .mh-info-content {
    flex-direction: column;
    padding: 0 16px;
  }
}
{% endstyle %}



    <div class="mh-info-container">
      <div class="mh-info-content">
        <!-- Left Side (Image) -->
        {% if section.settings.image != blank %}
        <div class="mh-info-image">
          <img
            src="{{ section.settings.image | img_url: '1200x800' }}"
            alt="{{ section.settings.image.alt | default: 'Mission image' }}"
          />
        </div>
        {% endif %}
        <!-- Right Side (Text) -->
        <div class="mh-info-text">
          {% if section.settings.subtitle != blank %}
          <h4 class="mh-section-subtitle mh-info-subtitle">{{ section.settings.subtitle }}</h4>
          {% endif %}
          
          {% if section.settings.title != blank %}
          <h2 class="mh-section-title mh-info-title">
            {{ section.settings.title }}
          </h2>
          {% endif %}
          
          {% if section.settings.description != blank %}
          <p class="mh-section-description mh-info-description">
            {{ section.settings.description }}
          </p>
          {% endif %}
          
          {% if section.settings.button_text != blank and section.settings.button_url != blank %}
          <a href="{{ section.settings.button_url }}" class="mh-btn-primary mh-info-btn">{{ section.settings.button_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>

{% schema %}
{
  "name": "About Mission Section",
  "tag": "section",
  "class": "mission-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Mission Image",
      "info": "Recommended size: 1200x800px"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Our mission"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Inspire and empower the tech workforce to achieve their goals"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "We're dreaming big, but our work is all about the details. After all, we get to a better tech workforce one skill, one process improvement, one technologist at a time. Find out how we're solving tech workforce challenges, boosting careers, and creating opportunity."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View our courses"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "About Mission Section"
    }
  ]
}
{% endschema %}